<html lang="en" ng-app="codenames">
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='board.css') }}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://code.jquery.com/jquery-3.1.1.js"
			integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
			crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
		<script src="{{ url_for('static', filename='GameController.js') }}"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="{{ url_for('static', filename='angular-modal-service.min.js') }}"></script>
	</head>
	<body ng-controller="GameController as ctrl">
		<div class="sideMenu">
			<div class="codenames-logo"></div>
			<div class="agent-number-of-cards"><p>{{ctrl.cardCountService.mash|angular}}/9
			</p></div>
			<div class="agent-select red-agent" ng-class="{agentselected: ctrl.colorSelected === 'RED'}" ng-click="ctrl.changeColor('RED')"></div>
			<div class="agent-number-of-cards"><p>
			{{ctrl.cardCountService.dora|angular}}/8
			</p></div>
			<div class="agent-select blue-agent" ng-class="{agentselected: ctrl.colorSelected === 'BLUE'}" ng-click="ctrl.changeColor('BLUE')"></div>
			<div class="agent-number-of-cards"><p>{{ctrl.cardCountService.push|angular}}/7</p></div>
			<div class="agent-select civilian1" ng-class="{agentselected: ctrl.colorSelected === 'CIV'}" ng-click="ctrl.changeColor('CIV')"></div>
			<div class="agent-number-of-cards"><p>{{ctrl.cardCountService.assa|angular}}/1</p></div>
			<div class="agent-select assassin" ng-class="{agentselected: ctrl.colorSelected ===
			'ASSASSIN'}" ng-click="ctrl.changeColor('ASSASSIN')"></div>
			<div id="timerBar" ng-class="{timerRunning: ctrl.timerRunning, timeOut: ctrl.timeOut}"><div id="timerJuice"></div></div>
			<div class="side-link" id="startTimer" ng-click="ctrl.startTimer()">Start</div>
			<div class="side-link" id="stopTimer" ng-click="ctrl.stopTimer()">Stop</div>
			<p id="spymasterCardLink" class="side-link" ng-click="ctrl.openSpymasterCard()" ng-if="ctrl.dataLoaded" ng-cloak>Spymaster Card URL</p>
			<pre ng-if="ctrl.dataLoaded" ng-cloak><code>{{ctrl.baseUrl|angular}}/spymaster/{{ctrl.gameCode|angular}}</code></pre>
			<p class="side-link" ng-if="ctrl.dataLoaded" ng-click="ctrl.showComplex()" ng-cloak >Custom Words...</p>
			<p class="side-link" ng-if="ctrl.dataLoaded" ng-click="ctrl.showInfo()" ng-cloak>How to Play</p>
		</div>

		<div class="board">
			<div ng-repeat="card in ctrl.cards">
				<codenames-card content=card.word index=card.index></codenames-card>
			</div>
		</div>
	</body>
</html>

